In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("../data2.csv")

In [3]:
df

,Unnamed: 0,Name,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,...,Age,Gender,TransactionCount,Duration,Peak Season,Before Season months,Months left for End of Season,AVG Sales,avg order cost,Loan Amount
0,0,Chad Smith,179018.86,177120.88,174173.55,122734.36,362590.35,365079.62,249214.28,242866.21,...,74,1,3273,8,0,3,7,271315,82.894898,570652.374624
1,1,Ronald Collins,42555.73,63249.06,40379.44,57876.43,49185.06,54559.53,51300.02,108893.08,...,58,1,3103,21,1,0,1,60072,19.359330,212107.255479
2,2,Darryl Brown,135601.47,174790.03,133235.49,209354.95,180334.22,144941.36,158670.00,480330.37,...,23,1,4770,5,1,0,0,194417,40.758281,756066.371479
3,3,Becky Williams,145533.08,194858.86,517763.56,587363.81,194260.81,238350.12,138048.70,176593.62,...,34,1,405,6,0,3,1,242533,598.846914,444750.202464
4,4,Jennifer Bruce,111695.66,92337.60,104144.36,89659.33,145544.96,235337.56,276935.12,108437.74,...,48,0,224,11,0,3,1,136020,607.232143,388170.371595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Nina Oliver,139740.53,134544.51,125999.43,88232.34,309053.43,382424.13,247519.61,297059.84,...,66,0,38,14,0,3,4,205255,5401.447368,472323.487704
996,996,Kathleen Lewis,148047.79,112337.95,125866.95,110995.54,124860.01,239777.48,279428.63,215462.67,...,27,1,2437,24,0,2,2,161118,66.113254,634214.549493
997,997,Joseph Costa,231075.16,227730.31,213158.66,147007.86,145156.58,156733.46,213868.72,167817.68,...,39,0,3645,4,1,0,1,256845,70.465021,416921.052881
998,998,Barbara Savage,43010.58,35606.65,59184.78,43935.51,53105.99,34996.00,44865.90,91331.10,...,61,1,4713,12,0,3,4,61907,13.135370,121654.860277
999,999,Matthew Robinson,53968.37,52406.45,49799.04,68230.42,69081.32,83147.59,147281.16,169784.10,...,50,1,4420,5,1,0,1,86773,19.631900,206731.603983

In [4]:
df = df.drop(['Name','Peak Season','Before Season months', 'Months left for End of Season','Gender'],axis = 1)

In [5]:
df

,Unnamed: 0,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sept,Oct,Nov,Dec,Age,TransactionCount,Duration,AVG Sales,avg order cost,Loan Amount
0,0,179018.86,177120.88,174173.55,122734.36,362590.35,365079.62,249214.28,242866.21,436012.52,262280.29,390223.58,294466.47,74,3273,8,271315,82.894898,570652.374624
1,1,42555.73,63249.06,40379.44,57876.43,49185.06,54559.53,51300.02,108893.08,111362.50,43984.41,60624.84,36887.95,58,3103,21,60072,19.359330,212107.255479
2,2,135601.47,174790.03,133235.49,209354.95,180334.22,144941.36,158670.00,480330.37,143541.85,131941.96,227762.95,212498.75,23,4770,5,194417,40.758281,756066.371479
3,3,145533.08,194858.86,517763.56,587363.81,194260.81,238350.12,138048.70,176593.62,230162.27,137788.52,189368.18,160306.05,34,405,6,242533,598.846914,444750.202464
4,4,111695.66,92337.60,104144.36,89659.33,145544.96,235337.56,276935.12,108437.74,102481.52,127726.98,120973.45,116962.33,48,224,11,136020,607.232143,388170.371595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,139740.53,134544.51,125999.43,88232.34,309053.43,382424.13,247519.61,297059.84,378994.13,110848.59,100152.30,148495.98,66,38,14,205255,5401.447368,472323.487704
996,996,148047.79,112337.95,125866.95,110995.54,124860.01,239777.48,279428.63,215462.67,121346.99,113491.13,168815.89,172984.17,27,2437,24,161118,66.113254,634214.549493
997,997,231075.16,227730.31,213158.66,147007.86,145156.58,156733.46,213868.72,167817.68,175357.13,156508.09,614548.60,633177.28,39,3645,4,256845,70.465021,416921.052881
998,998,43010.58,35606.65,59184.78,43935.51,53105.99,34996.00,44865.90,91331.10,96512.01,83445.68,91989.91,64899.35,61,4713,12,61907,13.135370,121654.860277
999,999,53968.37,52406.45,49799.04,68230.42,69081.32,83147.59,147281.16,169784.10,122698.42,80125.68,67009.16,77747.59,50,4420,5,86773,19.631900,206731.603983

In [6]:
df = df.drop(['TransactionCount','Unnamed: 0'],axis = 1)

In [7]:
df.columns

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct',
       'Nov', 'Dec', 'Age', 'Duration', 'AVG Sales', 'avg order cost',
       'Loan Amount'],
      dtype='object')

In [8]:
x = df.iloc[:,0:16]
y = df.iloc[:,16:17]

In [9]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(x)
y = sc_y.fit_transform(y)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
from sklearn.svm import SVR
svr = SVR(kernel='linear', C=1.0, epsilon=0.2)

In [12]:
svr.fit(X_train, y_train)

c:\Users\pbodh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(epsilon=0.2, kernel='linear')

In [13]:
y_pred = svr.predict(X_test)

In [14]:
from sklearn.metrics import r2_score
r_squared = r2_score(y_test, y_pred)
print(r_squared)

0.6984239903777926

In [15]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Assuming y_test and y_pred are the actual and predicted values, respectively

print(mean_squared_error(y_test, y_pred))
mae = mean_absolute_error(y_test, y_pred)
print(mae)

0.29918454043248993
0.397755365684816